.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    min-width:280px;
    border-radius:5px;
    padding:5px;
    overflow: hidden;
}
.img
{
 border: 1px solid #ddd;
    border-radius: 4px; 
  padding: 5px; 
  width: 80px;
}
.text{
    font-size:18;
    font-weight: bold;
    color: white;
    white-space: pre;
}